@import './variables';

.character-image {
  height: 70%;
  padding-top: 20px;
}

.character-info {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: flex-end;
}

.character-name {
  margin: 5px;
}

.character-house {
  margin: 10px;
  height: 40px;
  border-radius: 50%;
}