@import './variables';

.details {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  border: 2px solid $color-silver;
  color: $color-white;
  font-size: $font-smed;
  @media all and (min-width: 768px) {
    margin: auto;
    box-sizing: border-box;
    flex-direction: row;
    min-width: 700px;
    max-width: 1000px;
  }
}

.details-character-name {
  font-size: $font-med;
  @media all and (min-width: 1024px) {
    font-size: $font-lg;
  }
  @media all and (min-width: 1440px) {
    font-size: $font-xlg;
  }
}

.details-character-image {
  padding: 10px;
  width: 75%;
  max-width: 300px;
  align-self: center;
  @media all and (min-width: 768px) {
    max-height: 400px;
  }
}

.details-character-house {
  margin: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  align-self: center;
  @media all and (min-width: 768px) {
    position: absolute;
    right:0;
    top:0;
  }
  @media all and (min-width: 1024px) {
    height: 100px;
    width: 100px;
  }
}

.details-character-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  @media all and (min-width: 1024px) {
    font-size: $font-med;
  }
  @media all and (min-width: 1440px) {
    font-size: $font-lg;
  }
}

.key {
  color: $color-silver;
}