@import './variables';

.home {
  color: $color-silver;
  text-align: center;

  .main-title {
    font-size: $font-med;
    padding-bottom: 25px;
    @media all and (min-width: 768px){
      font-size: $font-lg;
    }
    @media all and (min-width: 1024px){
      font-size: $font-xlg;
    }
  }
}