@import './variables';

.home {
  .main-title {
    color: $color-silver;
    text-align: center;
    font-size: $font-med;
    padding-bottom: 25px;
    @media all and (min-width: 768px){
      font-size: $font-lg;
    }
    @media all and (min-width: 1024px){
      font-size: $font-xlg;
    }
  }
  
  .filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .filter-character {
    height: 20px;
    width: 250px;
    @media all and (min-width: 768px){
      width: 500px;
      height: 30px;
    }
  }
  
  .filter-character-label {
    color: $color-white;
    font-size: $font-sm;
    @media all and (min-width: 768px) {
      font-size: $font-med;
    }
  }

  .checkbox-container {
    color: $color-white;
  }
}