$font-main: 'Berkshire Swash', cursive;
$font-capital: 'Julius Sans One', sans-serif;

$color-black: black;
$color-white: white;
$color-silver: lightgrey;
$color-golden: goldenrod;

$font-sm: 12px;
$font-smed: 18px;
$font-med: 24px;
$font-lg: 36px;
$font-xlg: 48px;